<ul>
  <li><a href="{{ site.baseurl }}">{{ site.t['home'][page.lang] }}</a></li>
  <li><a href="{{ site.baseurl }}projects/">{{ site.t['project'][page.lang] }}</a></li>
  <li><a href="{{ site.baseurl }}about/">{{ site.t['about-me'][page.lang] }}</a></li>
  <li><a href="{{ site.baseurl }}contact/">{{ site.t['contact'][page.lang] }}</a></li>
</ul>

<div class="lang">
  <ul>
    <li><a class="FR" href="{{ site.baseurl }}/fr">FR</a></li>
    <li><a class="EN" href="{{ site.baseurl }}{{ postEN.url }}">EN</a></li>
  </ul>
</div>
